{% extends "template.html" %}
{% block content %}


<section id="side-page">
<div class="side-page-content">
    <h1>Defense</h1>
    {% if not gen %}
        <p>You must select a GEN</p>
        <a href="{{ url_for('defense') }}/1">GEN 1</a>
        <a href="{{ url_for('defense') }}/2">GEN 2</a>
        <a href="{{ url_for('defense') }}/3">GEN 3</a>
        <a href="{{ url_for('defense') }}/4">GEN 4</a>
        <a href="{{ url_for('defense') }}/5">GEN 5</a>
        <a href="{{ url_for('defense') }}/6">GEN 6</a>
        <a href="{{ url_for('defense') }}/7">GEN 7</a>
    {% else %}
        <p>GEN {{ gen }}</p>
    {% endif %}
</div>
</section>


<!--Services-->

{% endblock %}